mixin input-textarea({name = 'textarea', placeholder = 'Enter text...', cols = 30, rows = 20} = {})
  textarea(name=name, 
           class='input-textarea', 
           placeholder=placeholder, 
           cols=cols, 
           rows=rows)