mixin input-textarea(name, options)
  textarea(name=name, 
           class='input-textarea', 
           placeholder=options.placeholder, 
           cols=options.cols, 
           rows=options.rows)