mixin checkmark({name = 'checkmark', label = '', type = 'checkbox', value = 'value', checked = false} = {})
  .checkmark
    label.checkmark__label
      | #{label}
      input.checkmark__input(type=type, name=name, value=value, checked=checked)
      span.checkmark__icon