include ../../components/buttons/standard/button

mixin news-1(data)
  .news-1
    .news-left(style='background-image:url(' + data.image + ')')
    .news-right
      .news-cont
        .news-title #{data.title}
        .news-date #{data.date}
        .news-text
          block

mixin news-2(data)
  .news-2
    .news-left(style='background-image:url(' + data.image + ')')
    .news-right
      .news-cont
        .news-date 
          span.news-date-day #{data.day}
          span.news-date-month #{data.month}
        .news-title #{data.title}
        .news-text
          block
        +standard-button('big-green-button') 
          | Add to calendar