include ../../components/button/button

mixin news({image, title = 'Title', date = '1 April', text = 'Text here'} = {})
  .news
    .news__image(style = 'background-image:url(' + image + ')')
    .news__content
      .news__content-wrapper
        .news__title #{title}
        .news__date #{date}
        .news__text #{text}

mixin event-news({image, title = 'Title', day = '1', month = 'April', text = 'Text here'} = {})
  .event-news
    .news__image(style = 'background-image:url(' + image + ')')
    .news__content
      .news__content-wrapper
        .news__date 
          span.news__day #{day}
          span.news__month #{month}
        .news__title #{title}
        .news__text #{text}
        .news__button
          +button({size:'big', color:'green', text:'Add to calendar'}) 