include ../../components/buttons/standard-button/standard-button

mixin news-1(data)
  .news-1
    .news__left(style='background-image:url(' + data.image + ')')
    .news__right
      .news__cont
        .news__title #{data.title}
        .news__date #{data.date}
        .news__text
          block

mixin news-2(data)
  .news-2
    .news__left(style='background-image:url(' + data.image + ')')
    .news__right
      .news__cont
        .news__date 
          span.news__day #{data.day}
          span.news__month #{data.month}
        .news__title #{data.title}
        .news__text
          block
        +standard-button({size:'big', color:'green'}) 
          | Add to calendar