mixin arrow-button({direction = 'left', disabled = false} = {})
  - const directions  = ['left', 'right', 'top', 'bottom']
  - const base = 'arrow-button'
  - const directionClass = directions.includes(direction) ? `${base}_${direction}` : `${base}_left`
  - const disabledClass = disabled ? `${base}_disabled` : ''
  div(class = `${base} ${directionClass} ${disabledClass}`)
    i.arrow-button__arrow