include ../../components/bubble/bubble
include ../../components/avatar/avatar
 
mixin profile({type = 'grey', selected = false, image = '', name = 'name', occupation = 'occupation'} = {})
  - const base = 'profile'
  - const types = ['grey', 'green']
  - const modifierClass = types.includes(type) ? `${base}_${type}` : ''
  - const selectedClass = selected ? `${base}_selected` : ''
  article(class = `${base} ${modifierClass} ${selectedClass}`)
    .profile__wrapper
      +avatar({src:image})
      .profile__bubble
        +bubble({direction:'left', modifier: type})
          .profile__name #{name}
          .profile__occupation #{occupation}
          .profile__icons
            i(class = 'fa fa-facebook-f')
            i(class = 'fa fa-twitter')
            i(class = 'fa fa-dribbble')

    